body {
    background-color: #eeeeee;
  }

#navigationbar {
    width: 100%;
    text-align: center;
    display: block;
}
#navigationbar li {
    display: inline-block;
    float: none;
    vertical-align: text-top;
}
main {
    margin-top: 80px;
}
.row {
    margin: 20px;
}
.card {
    box-shadow: 2px 3px 9px #aaaaaa;
    max-width: 18rem;
    margin: 5px;
}
.card-body {
    max-width: 512px;
}
.card-title {
    color:black;
}
.card-text {
    color:black;
}
 .card-subtitle {
    color:black;
}
img  {
    width: 215px;
    height: 215px;
    margin-left: auto;
    margin-right: auto;
}
